@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ToDo List Web Application</h1>
    <p>Stay Organized, Achieve More</p>
    <p>Welcome to ToDo – your ultimate companion for productivity and organization. Whether you’re managing daily tasks, planning long-term projects, or keeping track of personal goals, we’ve got you covered.</p>
    <ul class="text-left" style="display: inline-block; text-align: left;">
        <li><strong>Effortless Task Management</strong>: Create, prioritize, and track your to-dos with ease.</li>
        <li><strong>Customizable Workflows</strong>: Tailor your task lists to fit your unique needs and style.</li>
        <li><strong>Stay on Schedule</strong>: Set deadlines, and recurring tasks to stay ahead.</li>
    </ul>
    <p>Simplify your life and take control of your time with ToDo. Start your journey to enhanced productivity today!</p>
</div>
